{% extends 'base.html.twig' %}
{% block body %}
<body>
    <div class="container d-flex justify-content-center align-items-center container-custom">
        <div class="text-center">
            <h1 class="mb-4">Administration</h1>
            <div class="btn-container">

                <a href="{{ path('admin_books') }}" class="btn btn-primary btn-lg btn-custom">Accès Livres</a>

                <a href="{{ path('admin_critic') }}" class="btn btn-secondary btn-lg btn-custom">Accès Critiques</a>

                <a href="{{ path('admin_user') }}" class="btn btn-success btn-lg btn-custom">Accès Users</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}